# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Linting and type checking caches
.ruff_cache/
.mypy_cache/
